
body
{
    background-color:#00ead3;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1
{
    margin: 0 auto;
    font-family: 'Handlee', cursive;
    /* width: 10%; */
}

.top-conatiner
{
    margin: 0px;
    position: relative;
    padding-top:100px;
    /* background-color:#ff449f ;
    width: 200px;
    height: 200px;
    border: 10px black solid; */
}

.middle-container
{
  
}

.bottom-container
{
  
}

.pro
{
    text-decoration: underline;
}

.top-cloud
{
    position:absolute;
    top:50px;
    right:300px; 
}

.bottom-cloud
{
    position: absolute;
    left: 300px;
    bottom:300px; 
}